.order {
	margin-top: 24px;
}

.info {
	display: flex;
	gap: 8px;
	align-items: center;
}

@media screen and (max-width: 480px) {
	.info {
		display: block;
	}
}

.icon {
	width: 46px;
	display: inline;
}

.buttons {
	display: flex;
	gap: 16px;
	margin-top: 16px;
}

@media screen and (max-width: 480px) {
	.buttons {
		display: block;
	}
}
