# postgresql settings
POSTGRES_HOST=localhost  # because network-mode: host in docker-compose
POSTGRES_PORT=5432  # also changes port in docker-compose
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_TABLE=fomina_shop

# admin
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin
ADMIN_TOKEN=secret

# Telegram bot
TEELGRAM_TOKEN=12345
TELEGRAM_ADMIN_IDS=1234,5678

# yookassa
YOOKASSA_ACCOUNT_ID=123
YOOKASSA_SECRET_KEY=SUPER_SECRET_KEY
UI_URL=http://localhost:3000  # using for yookassa redirect after payment

# vite
VITE_BASE_API_URL=http://localhost:8000

# docker-compose
PROJECT_NAME=fomina_shop
API_PORT=8000
UI_PORT=4173
