.link
	display: block
	text-decoration: none
	color: black
	font-size: 40px
	font-weight: 400
	margin-top: var(--margin-step)
	transition-duration: .2s
	&:hover
		color: blue
	@media screen and (max-width: 500px)
		font-size: 1.5em
