@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-optical-sizing: auto;
	font-style: normal;
}

h1,
h2,
h3 {
	font-weight: 600;
}

h1 {
	font-size: 36px;
}

#app {
	margin: 24px 5%;
}

body:has(div[data-portal="true"]) #app {
	/* TODO: it's very bad */
	display: none;
}
