*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: "Source Sans 3", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}

h1,
h2,
h3 {
	font-weight: 600;
}

h1 {
	font-size: 36px;
}

#app {
	margin: 24px 5%;
}

body:has(div[data-portal="true"]) #app {  /* TODO: it's very bad */
	display: none;
}
