[data-scope="menu"][data-part="trigger"] {
	background-color: transparent;
	color: black;
	border: none;
	cursor: pointer;
}

[data-scope="menu"][data-part="trigger"]:focus {
	outline: black 0.2em solid;
	border-radius: 0.1em;
}

[data-scope="menu"][data-part="content"][data-state="open"] {
	background-color: white;
	display: grid;
	outline: black 1px solid;
}

[data-scope="menu"][data-part="item"] {
	cursor: pointer;
	padding: 8px 10px;
	text-decoration: none;
	color: black;

	transition: 0.1s ease-out;
}

[data-scope="menu"][data-part="item"]:hover {
	background-color: #f0f0f0;
}
