.product
	display: grid
	grid-template-columns: 500px 1fr
	gap: var(--margin-step-2)
	@media screen and ( max-width: 768px )
		grid-template-columns: 1fr

.image
	width: 100%

.title
	font-size: 48px
	font-weight: 600

.description_box
	display: grid
	gap: 0

.description
	font-size: 24px
	font-weight: 300
	height: min-content

.price
	font-size: 24px
	font-weight: 500

.article
	font-weight: 400
