.product
	display: grid
	grid-template-columns: 50% 50%
	gap: 24px

.info
	display: flex
	flex-flow: column
	gap: 8px

.description, .price
	font-size: 24px
	font-weight: 400
	display: block

// image
.images
	display: grid
	grid-template-columns: 1fr 1fr
	gap: 24px

.image
	display: block
	width: 100%
	object-fit: cover
