.hero
	background-color: grey
	background-blend-mode: multiply
	background-size: cover
	background-repeat: no-repeat
	height: 80vh
	display: grid
	justify-items: center
	align-items: center

.header
	font-size: 64px
	font-weight: 600
	color: white
	@media screen and (max-width: 500px)
		font-size: 2.3em

.subheader
	text-align: center
	color: white
	font-size: 1.5em
	font-weight: 400
