:root
	--margin-step: 8px
	--margin-step-2: 16px
	--margin-step-3: 24px
$margin-step: 8px

*, *::before, *::after
	margin: 0
	padding: 0
	box-sizing: border-box
	font-family: 'Source Sans 3', sans-serif

// page
.page__body
	margin: $margin-step * 3 $margin-step * 5
	@media screen and ( max-width: 500px )
		margin: $margin-step * 5 $margin-step * 3

// social
.social_instagram
	:hover
		background-color: #D3D3D3
		color: #000000

// header

// main

// First look

// articles

// Product
// // Cart

// // Order
.order-button
	margin-top: $margin-step * 2
	border: 3px solid black
	display: inline-block
	padding: $margin-step * 2
	color: black
	text-decoration: none
	background-color: transparent
	cursor: pointer

	transition-duration: .2s
	&:hover
		border-radius: $margin-step
		.order-button__text
			text-decoration: underline

.order-button_active
	background-color: lightgreen
	border-radius: $margin-step

.order-button__text
	font-size: 24px

// Purchase

// Payment
.payment-description
	margin-top: $margin-step * 3
	display: grid
	grid-template-columns: 48px 1fr
	align-items: center
	grid-gap: 8px
