$margin-step: 8px

*, *::before, *::after
	margin: 0
	padding: 0

// page
.page__body
	margin: $margin-step * 3
	font-family: 'Inter', sans-serif
	@media screen and ( max-width: 500px )
		margin: $margin-step * 3 $margin-step

// herader
.header__logo
	display: block
	margin: 0 auto
	width: 299px

// main
.main
	margin-top: $margin-step * 3

// hello
.hello
	padding: 94px 0
	background-color: #F4F4F4

.hello__header, .hello__subheader
	text-align: center
	font-size: 48px
	line-height: 1.2

.hello__subheader
	font-weight: 300
	display: block
	height: 100px

// Brands
.brands
	margin-top: $margin-step * 3
	display: grid
	gap: 16px
	grid-template-columns: repeat(3, 1fr)
	@media screen and ( max-width: 768px )
		grid-template-columns: repeat(2, 1fr)
	@media screen and ( max-width: 500px )
		grid-template-columns: repeat(1, 1fr)

.brands__header
	font-size: 36px
	grid-column: 1 / 4
	justify-self: center
	text-align: center
	font-weight: 500
	@media screen and ( max-width: 768px )
		grid-column: 1 / 3
	@media screen and ( max-width: 500px )
		grid-column: 1

// Brand
.brand__link
	text-decoration: none
	color: black

.brand__title
	font-weight: 300
	font-size: 32px
	text-align: center

.brand__image
	width: 100%
	border-radius: .4em
	object-fit: cover

// Social
.social
	margin-top: $margin-step * 3

.social__header
	font-size: 30px
	font-weight: 400

.social__paragraph
	font-size: 20px
	margin-top: $margin-step
	font-weight: 300

.social__link
	font-weight: 500
	color: #1D59F1
	text-decoration: underline
