name: Frontend CI

on: [push, pull_request]

jobs:
  frontend:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ui

    steps:
      - uses: actions/checkout@v4

      - name: Install Bun
        id: setup-bun
        uses: oven-sh/setup-bun@v1

      - name: Install dependencies
        run: bun install

      - name: Check code
        run: bun run biome check src
